/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #86cdfc;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.component {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 20px;
  height: 100%;
}

.button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.fila-container {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  gap: 30px;
}

.form-col {
  padding-right: 15px; 
  padding-left: 15px;
}

.fila-container .component {
  flex: 1 0 calc(33.33% - 20px); 
  margin-bottom: 20px;
}

.nome-paciente {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
